/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/
:root {
    --jp-elevation-z0: none;
    --jp-elevation-z1: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
    --jp-elevation-z2: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --jp-elevation-z4: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12);
    --jp-elevation-z6: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12);
    --jp-elevation-z8: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    --jp-elevation-z12: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 12px 17px 2px rgba(0, 0, 0, 0.14),
        0 5px 22px 4px rgba(0, 0, 0, 0.12);
    --jp-elevation-z16: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
        0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12);
    --jp-elevation-z20: 0 10px 13px -6px rgba(0, 0, 0, 0.2),
        0 20px 31px 3px rgba(0, 0, 0, 0.14),
        0 8px 38px 7px rgba(0, 0, 0, 0.12);
    --jp-elevation-z24: 0 11px 15px -7px rgba(0, 0, 0, 0.2),
        0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12);
}

/* theme color */
$--color-primary: #17BAC4;
$--color-success: #32A55A;
$--color-warning: #F7B500;
$--color-danger: #E42320;
// $--color-info: #dfe4ed;

/* 备份 */
// $--color-primary: #1989fa;
// $--color-success: #468847;
// $--color-warning: #FFBA00;
// $--color-danger: #ff4949;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border:1px solid#dfe6ec;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    theme: $--color-primary;
}

.van-picker-column__item--selected {
    color: #00d7bf !important;
    font-size: 20px;
}

.del-button {
    color: #ff4949;

    &:hover,
    &:focus {
        color: #fd7d7d;
    }
}

.van-icon-arrow-left {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.van-icon-arrow-left:before {
    content: "\e908"
}

.van-popup_bottom--buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 32px 28px 32px;
    box-sizing: border-box;

    .van-button {
        flex: 1;
    }
}

.location-button {
    padding: 0px;
    width: 32px;
    height: 28px;
    background: #e7f8f9;
    border-radius: 6px;
    border: none;
    color: #17bac4;
}

.van-uploader__upload {
    background-color: #eff1f1;
}

.select-hint {
    width: 100%;
    text-align: left;
    font-size: 14px;
}

.page-pad-top {
    width: 100%;
    height: 0px;
}